body{
    background-color: #3D2C8D;
}

input{
    /*Propiedad que sirve para que no se muestre una linea de borde del input*/
    outline: none;
}
textarea{
        /*Propiedad que sirve para que no se muestre una linea de borde del textarea*/
    outline:none;
    resize: none;
}
/*Propiedad para que los inputs de tipo numero no muestren las flechas de arriba y abajo*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-scrollbar {
    /*Propiedad que elimina el scroll bar*/
    display: none;
}

a{
    /*eliminar la linea debajo de los links*/
    text-decoration: none;
}
/*Quitar los estilos de los elementos de lista*/
li
{
    list-style: none;
}

/*inicio del menu*/
.menu{
    height: 20%;
    width: 99%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #1C0C5B;
    margin-left: auto;
    margin-right: auto;
}

.letrasMenu{
    color: white;
    margin-left: 1rem;
    float: right;
}
.letrasMenu:hover{
    color: #eeeeee;
}
.finalMenu{
    margin-right: 1rem;
}


.luis{
    margin-left: 5rem;
    color: white;
}

.divs{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.margin-auto_content{
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 90px;
}

.div1{
    float: left; 
    height: 310px;
    width: 25%;
    display: flex;
    background-color: #1C0C5B;
}

.div2{
    float: left; 
    height: 310px;
    width: 25%;
    display: flex;
    background-color: #EEEEEE;

}

.EEEEEE{
    color: #EEEEEE;
}

.made{
    text-align: center;
}
.pie{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1C0C5B;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}
.center{
    text-align: center;
}
.titulo{
   text-align: center;
}
/*Fin del menu*/

/*Calculadora v1.0*/

/*Fin de calculadora v1.0*/

/*Inicio del UI*/
.UI{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
    font-size: large;
}

.hone{
    text-align: center;
    color: white;
}
.h{
    text-align: center;
}

.p{
    margin-left: 100px;
    width: 810px;
    font-size: 17px;
    font-family: 'verdana';


}
.uiImg{
    display:block;
    margin:auto;
    width: 600px;
    height: 300px;

}
/*Fin del UI*/

/*Inicio de formulario*/
.formularioo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 800px;
    background-color: #EEEEEE;
}
  
.formularioo input {
    width: 50%;
    height: 30px;
    margin: 0.5rem;
    outline: none;
}
  
.formularioo button {
    padding: 0.5em 1em;
    border: none;
    background: #EEEEEE;
    cursor: pointer;
}
.formularioo label{
    font-size: 20px;

}
.formularioo h1{
    color: black;
}
.formularioo button{
    background-color: #1C0C5B;
    color: white;
}
/*Fin del formulario*/

/*A partir de aqui, es codigo de la calculadora v2*/

.labels{
    display: inline-block;
    width: 150px;
    font-family:verdana;
    font-size: larger;
    color: white;
}
.configInputs{
    height: 20px;
    border: none;
    outline: none;
}
.configInputs:focus{
    background: white;
    color: #141E61;
    border: none;
    border-color: none;
    border-radius: none;
}

.boton{
    padding: 15px;
    background-color: #eeeeee;
    border: none;

}
.boton:hover{
    background-color: #787A91;
}
.botonMargin{
    margin-left: 160px;
}
.calcu {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 800px;
    background-color: #1C0C5B;
}

.echo{
    font-family: verdana;
}

/*Aqui se termina el codigo de la calculadora v2*/

/*Estas clases son para ponerle un color cuando la validacion del input sea considerada valida por el html*/

/*
.inputt:valid {
    border: 2px solid yellowgreen;
}

.inputt:invalid {
    border: none;
}
*/

/*Fin inputs*/

/* Esta clase permite darle estilo a un aviso que se le da al ususario cuando su registro o inicio de sesion sean validos o erroneos*/
p.correcto,
p.error {
    color: black;
    font-family: 'verdana';
    background: yellowgreen;
    display: inline-block;
    padding: 2px 10px;
}

p.error {
    background: orangered;
}
/*Fin*/


/*Estas clases son para darle estilo a la carpeta posteo*/

.formulario {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    width: 800px;
    background-color: #1C0C5B;
}

.formulario input {
    width: 50%;
    height: 30px;
    margin: 0.5rem;
}
  
.formulario button {
    padding: 0.5em 1em;
    border: none;
    background: #EEEEEE;
    cursor: pointer;
}
.formulario label{
    font-size: 20px;
    color: white;
}
.formulario h1{
    color: white;
}
.formulario button{
    background-color: #eeeeee;
}

.blanco{
    color: white;
}
.verdana{
    font-family: verdana;
}
.registrar{
    background-color: #1C0C5B;
    padding: 2%;
    width: 7%;
    margin-left: 0.5%;

}
.margin{
    margin-left: 20px;
}

.mostrar{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C0C5B;
    font-size: large;
}
/*Fin*/